<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <style>
    .difficulty-easy {
      color: green;
    }
    .difficulty-medium {
      color: orange;
    }
    .difficulty-hard {
      color: red;
    }
  </style>
</head>
<body>
  <%- include('../partials/navbar') %>
  <div class="container mt-5">
    <h1 class="mb-4">Problem List</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Problem ID</th>
          <th scope="col">Title</th>
          <th scope="col">Difficulty</th>
        </tr>
      </thead>
      <tbody>
        <% problems.forEach(problem => { %>
          <tr>
            <td><%= problem.problemId %></td>
            <td>
              <a href="/problems/<%= problem.problemId %>"><%= problem.title %></a>
            </td>
            <td class="<%= problem.difficulty === 'Easy' ? 'difficulty-easy' : problem.difficulty === 'Medium' ? 'difficulty-medium' : 'difficulty-hard' %>">
              <%= problem.difficulty %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>
